<app-header titulo="Agregar Delivery"></app-header>

<ion-content>

  <form #form="ngForm" (ngSubmit)="login(form)">
    <ion-grid>
      <ion-row color="primary" justify-content-center>
        <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
          <ion-item>
            <ion-label position="floating">Nombre</ion-label>
            <ion-input></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Descripción</ion-label>
            <ion-textarea></ion-textarea>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Facebook</ion-label>
            <ion-input></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Web</ion-label>
            <ion-input></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Telefono</ion-label>
            <ion-input></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">WhastApp</ion-label>
            <ion-input></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>Departamento</ion-label>
            <ion-select placeholder="Select One">
              <ion-select-option value="f">Female</ion-select-option>
              <ion-select-option value="m">Male</ion-select-option>
            </ion-select>
          </ion-item>
          <ion-item>
            <ion-label>Provincia</ion-label>
            <ion-select placeholder="Select One">
              <ion-select-option value="f">Female</ion-select-option>
              <ion-select-option value="m">Male</ion-select-option>
            </ion-select>
          </ion-item>
          <ion-item>
            <ion-label>Distrito</ion-label>
            <ion-select placeholder="Select One">
              <ion-select-option value="f">Female</ion-select-option>
              <ion-select-option value="m">Male</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>


</ion-content>
