<app-header titulo="¿Quienes somos?"></app-header>

<ion-content>
    <ion-card class="coworker-card">
        <ion-card-content>
            <p>Este buscador de negocios nace con la finalidad de ayudar a todas las personas que necesitan abastecerse de productos de primera necesidad y ponerse en contacto con los vendedores para coordinar la entrega de sus productos mediante delivery o recojo en tienda, con esto evitamos salisr de casa o hacer colas innecesarias.</p>
            <p>Es un proyecto libre, si quieres apoyar con este proyecto a implementar mejoras en la aplicación puedes contactarte conmigo mediante mi LinkedIn.</p>
        </ion-card-content>
        <ion-card-content>
          <ion-list lines="none">
            <ion-item>
              <ion-icon name="logo-linkedin" slot="start"></ion-icon>
              <ion-label>
                <h2>Andrés García Burgos</h2>
                <h2><a href="www.linkedin.com/in/andresgarciab/" target="_blank">www.linkedin.com/in/andresgarciab/</a></h2>
                <p>LinkedIn</p>
              </ion-label>
            </ion-item>
            <ion-item>
              <ion-icon name="mail" slot="start"></ion-icon>
              <ion-label>
                <h2><a href="mailto:recojoentienda@gmail.com">recojoentienda@gmail.com</a></h2>
                <p>email</p>
              </ion-label>
            </ion-item>
            <!-- <ion-item>
              <ion-icon name="logo-github" slot="start"></ion-icon>
              <ion-label>
                <h2>john.parks92@email.com</h2>
                <p>Web</p>
              </ion-label>
            </ion-item>
            <ion-item>
              <ion-icon name="logo-github" slot="start"></ion-icon>
              <ion-label>
                <h2>john.parks92@email.com</h2>
                <p>Servicio</p>
              </ion-label>
            </ion-item> -->
          </ion-list>
        </ion-card-content>
      </ion-card>


</ion-content>