<app-header titulo="Recojo en Tienda"></app-header>

<ion-content>
  <ion-grid fixed>
    <ion-row>
      <ion-col size="12" size-lg="6" size-md="6" size-sm="6" size-xs="12" >
        <ion-item>
          <ion-label>Estoy en...</ion-label>
          <ionic-selectable 
            [(ngModel)]="selec_distrito" 
            [items]="distritos"
            itemValueField="codigo_ubigeo"
            itemTextField="etiqueta_ubigeo"
            [canSearch]="true"
            (onChange)="distritoChange($event)">
            <ng-template ionicSelectableIconTemplate>
              <ion-icon name="location-outline"></ion-icon>
            </ng-template>
          </ionic-selectable>
        </ion-item>
      </ion-col>
      <ion-col size="12" size-lg="6" size-md="6" size-sm="6" size-xs="12" >
        <ion-item>
          <ion-label>estoy buscando...</ion-label>
          <ion-select interface="popover" (ionChange)="categoriaChange($event)">
            <ion-select-option value="0">Todas</ion-select-option>
            <ion-select-option value="{{categoria.codigo}}" 
              *ngFor="let categoria of categorias" >
              {{categoria.nombre}}
            </ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid fixed>
    <ion-row>
      <ion-col size="12" size-lg="4" size-md="4" size-sm="6" size-xs="12" 
        *ngFor="let tienda of tiendas">
        <ion-card>
          <ion-card-header color="light" [routerLink]="['/tienda',tienda._id]">
            <!-- <div class="tienda-more">
              <ion-button fill="clear" (click)="openMenu()" >
                <ion-icon slot="icon-only" name="ellipsis-vertical-outline"></ion-icon>
              </ion-button>
            </div> -->
            <ion-card-title>
              {{ tienda.name }} <a><ion-icon name="arrow-forward-outline" item-right></ion-icon></a>
            </ion-card-title>
          </ion-card-header>
          <!-- <ion-slides pager="true" zoom="true" *ngIf="items!==undefined">
            <ion-slide *ngFor="let item of items | async">
              <img [src]="item.imageUrl" />
            </ion-slide>
          </ion-slides> -->
            <ion-card-content>
              <p>{{ tienda.descripcion }}</p>
              <ion-list lines="none">
                <ion-item *ngIf="tienda.direccion">
                  <ion-label>
                    <h2>Dirección</h2>
                    <p>
                      {{tienda.direccion}}
                    </p>
                  </ion-label>
                </ion-item>
                <ion-item>
                  <ion-label>
                    <h2>Pago</h2>
                    <p>
                      <ng-template ngFor let-item [ngForOf]="tienda.pagos" let-i="index">
                        <ng-template [ngIf]="item == 1"><ion-icon name="cash-outline"></ion-icon> Efectivo </ng-template>
                        <ng-template [ngIf]="item == 2"><ion-icon name="card-outline"></ion-icon> Tarjeta </ng-template>
                        <ng-template [ngIf]="item == 3"><ion-icon name="logo-google-playstore"></ion-icon> Aplicación </ng-template>
                      </ng-template>
                    </p>
                  </ion-label>
                </ion-item>
                <ion-item>
                  <ion-label>
                    <h2>Entrega</h2>
                    <p>
                      <ng-template ngFor let-item [ngForOf]="tienda.entregas" let-i="index">
                        <ng-template [ngIf]="item == 1"><ion-icon name="bicycle-outline"></ion-icon> Delivery </ng-template>
                        <ng-template [ngIf]="item == 2"><ion-icon name="cart-outline"></ion-icon> Recojo en tienda </ng-template>
                      </ng-template>
                    </p>
                  </ion-label>
                </ion-item>
                <ion-item>
                  <ion-label>
                    <h2>Contacto</h2>
                    <p *ngIf="tienda.telefono"><ion-icon name="call-outline"></ion-icon> <a *ngIf="tienda.telefono.substr(0, 1) === 9" href="https://wa.me/51{{tienda.telefono}}" > {{ tienda.telefono }}</a><a *ngIf="tienda.telefono.substr(0, 1) !== 9" href="tel:{{tienda.telefono}}" > {{ tienda.telefono }}</a></p>
                    <p *ngIf="tienda.celular"><ion-icon name="logo-whatsapp"></ion-icon> <a href="https://wa.me/51{{tienda.celular}}" target="_blank"> {{ tienda.celular }}</a></p>
                    <p *ngIf="tienda.website"><ion-icon name="home-outline"></ion-icon> <a *ngIf="tienda.website.substr(0, 3) === 'www'" href="http://{{tienda.website}}" target="_blank"> {{ tienda.website }}</a><a *ngIf="tienda.website.substr(0, 3) !== 'www'" href="{{tienda.website}}" target="_blank"> {{ tienda.website }}</a></p>
                    <p *ngIf="tienda.facebook"><ion-icon name="logo-facebook"></ion-icon> <a href="{{ tienda.facebook }}" target="_blank"> {{ tienda.facebook }}</a></p>
                  </ion-label>
                </ion-item>
                <ion-item *ngIf="tienda.celular || tienda.latitud">
                  <ion-button *ngIf="tienda.celular" fill="solid" color="success" href="https://wa.me/51{{tienda.celular}}" target="_blank" ><ion-icon name="logo-whatsapp"></ion-icon> Escribir</ion-button>
                  <ion-button *ngIf="tienda.latitud" fill="solid" href="https://maps.google.com/?q={{tienda.latitud}},{{tienda.longitud}}" target="_blank"><ion-icon name="navigate-outline"></ion-icon> Ubicar</ion-button>
                </ion-item>
              </ion-list>
            </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-fab horizontal="end" vertical="bottom" slot="fixed" routerLink="/map">
    <ion-fab-button color="dark" >
      <ion-icon name="map-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
