<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tiendas">
      <ion-icon name="grid-outline"></ion-icon>
      <ion-label>Tiendas</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="registrar">
      <ion-icon name="add-circle-outline"></ion-icon>
      <ion-label>Registrar</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="nosotros">
      <ion-icon name="alert-circle-outline"></ion-icon>
      <ion-label>¿Quién soy?</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
